* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ececec; /*e0e5ec */
  color: #453f67; /* #454f67*/
  padding: 0;
}
.Home {
  padding: 0 10px;
}
.Home h1 {
  font-size: 1.8rem;
  margin: 0.3rem 0;
  margin-top: 3rem;
  color: #000;
}
.Home h2 {
  color: gray;
  font-size: 1.1rem;
  margin-top: 0.2rem;
  margin-bottom: 3rem;
}
button {
  background-color: #ececec;
  box-shadow: -3px -6px 15px #fff, 3px 3px 15px rgba(70, 70, 70, 0.12);
  border: 0;
  border-radius: 15px;
  color: #414051;
  font-weight: bold;
  margin: 10px;
}
.Home button.choose {
  font-size: 1.2rem;
  padding: 20px 30px;
  margin-top: 0;
  transition: 0.2s box-shadow ease-in-out;
}
.Home a {
  margin-bottom: 20px;
}
button:hover,
button:focus,
input:focus {
  border: none;
  outline: none;
}
button:hover,
button:hover {
  box-shadow: -3px -6px 16px #fff, 3px 3px 16px rgba(70, 70, 70, 0.12),
    inset -3px -6px 8px #fff, inset 3px 3px 8px rgba(70, 70, 70, 0.12);
}
.Home p span {
  font-size: 3.8rem;
  padding-right: 3px;
  font-weight: 100;
  color: #bd21d9;
}
.Home p {
  text-transform: capitalize;
  font-size: 1.1rem;
  font-weight: 600;
}
.Home .choice-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}
.carousel-indicators li {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid black;
  margin-left: 5px;
  margin-right: 5px;
}
.carousel-indicators .active {
  background-color: #bd21d9;
}
.btn {
  color: #bd21d9;
  border: 0;
  font-weight: bold;
  font-size: 1.3rem;
  border-radius: 50%;
}
.btn:hover,
.btn:focus {
  border: 0 !important;
  outline: 0 !important;
  box-shadow: -3px -6px 16px #fff, 3px 3px 16px rgba(70, 70, 70, 0.12),
    inset -3px -6px 8px #fff, inset 3px 3px 8px rgba(70, 70, 70, 0.12);
}
.modal-dialog .close {
  box-shadow: none;
}
.modal-dialog ol {
  margin-left: 1rem;
}
.main-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
